# Ambiente Virtual
venv/

# Arquivos Temporários do Jupyter
.ipynb_checkpoints/

# Dados Sensíveis ou Grandes
dataset/*.csv
dataset/*.xlsx
dataset/*.json

# Logs e Arquivos Temporários
*.log
*.tmp

# Arquivos Compilados ou Binários
*.pyc
*.pyo
__pycache__/

# Configurações Locais de IDEs
.vscode/