# Ambiente Virtual
venv/
.venv/

# Arquivos Temporários do Jupyter
.ipynb_checkpoints/

# Dados Sensíveis ou Grandes
dataset/*.csv
dataset/*.xlsx
dataset/*.json
.env

# Logs e Arquivos Temporários
*.log
*.tmp

# Arquivos Compilados ou Binários
*.pyc
*.pyo
__pycache__/

# Configurações Locais de IDEs
.vscode/

# Arquivos de Testes e Relatórios
test-output/
*.pytest_cache/
.coverage
htmlcov/