# Data manipulation and analysis
pandas
numpy

# Visualization
matplotlib
seaborn

# Statistical analysis
scipy
statsmodels

# Machine learning
scikit-learn

# Finance data
yfinance

# Jupyter Notebook
jupyterlab
notebook
ipykernel

# Environment variables
python-dotenv

# Testing framework
pytest

# API
fastapi==0.115.6
py==1.11.0
pydantic==2.10.3
pydantic_core==2.27.1
uvicorn==0.32.1
requests==2.27.1

