# Data manipulation and analysis
pandas
numpy

# Visualization
matplotlib
seaborn

# Statistical analysis
scipy
statsmodels

# Machine learning
scikit-learn

# Finance data
yfinance

# Jupyter Notebook
jupyterlab
notebook
ipykernel

# Environment variables
python-dotenv

# Testing framework
pytest

# API
fastapi==0.74.0
py==1.11.0
pydantic
uvicorn==0.17.6
requests==2.27.1

